.bo {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.445)), url(image/wall2.jpg) no-repeat;
    background-size: cover;
    color: black;
    font-family: "Quicksand";
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: repeat-y;
}

.c {
    background-color: rgba(190, 190, 190, 0.897);
}

@media (max-width: 850px) {
    .bo {
        margin: 0;
        padding: 0;
        background: linear-gradient(rgba(59, 59, 59, 0.349), rgba(59, 59, 59, 0.329)), url(image/edit.jpg) no-repeat;
        background-size: cover;
        background-repeat: repeat-y;
        font-family: "Quicksand";
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
}

.titles {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    color: white;
}

.titles h1 {
    font-family: "Quicksand";
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 black;
}

.titles p {
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 black;
}

.ld {
    width: auto;
    height: auto;
    background-color: rgba(254, 255, 208, 0.623);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.lo {
    margin-top: 20px;
    width: 450px;
}

.r {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.hh {
    margin-top: 40px;
}

.nh {
    color: wheat;
}

@media (min-width:600px) {
    .d {
        width: auto;
        height: 150px;
        background-color: rgba(173, 173, 173, 0.767);
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 5px;
        text-align: center;
        color: rgb(53, 43, 0);
        font-weight: bolder;
        cursor: pointer;
    }
    .d:hover {
        background-color: rgba(254, 255, 208, 0.623);
        color: rgb(0, 78, 30);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.3s;
        font-weight: bolder;
    }
    .shh {
        display: inline-block;
        color: rgb(6, 75, 0);
        margin-top: 2px;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 5px;
    }
    .in {
        margin-left: 100px;
        text-align: center;
        margin-top: 10px;
    }
    .inn {
        margin-left: 300px;
        text-align: center;
        margin-top: 10px;
    }
    .innn {
        margin-left: 370px;
        text-align: center;
        margin-top: 10px;
    }
    .aab {
        margin-left: 245px;
    }
    .innnn {
        margin-left: 450px;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width:600px) {
    .d {
        width: auto;
        height: 150px;
        background-color: rgba(173, 173, 173, 0.767);
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        display: block;
        margin: 10px;
    }
    .d:hover {
        background-color: rgba(254, 255, 208, 0.623);
        color: rgb(0, 78, 30);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.3s;
        font-weight: bolder;
    }
    .shh {
        display: inline-block;
        color: rgb(6, 75, 0);
        margin-top: 2px;
        font-weight: bolder;
        font-size: 20px;
    }
}

.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.445)), url(image/wall2.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.boxx {
    max-width: 900px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    text-align: center;
    font-family: sans-serif;
    color: #51ca00;
    margin-top: 200px;
}

.inp {
    min-width: 300px;
    color: grey;
    padding: 5px 5px 5px 15px;
    border: 0;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
    border-radius: 20px;
    margin-top: 20px
}

.inp:focus {
    outline: none;
}

.btn {
    width: 80px;
    margin-top: 20px;
    padding: 10px;
    background-color: #51ca00;
    color: white;
    border: none;
    border-radius: 20px;
    transition-duration: 1.5s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, .1);
    border: solid 2px #ffffff;
    transition-duration: 1s;
}

.dr {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.th {
    padding-top: 20px;
    font-weight: bolder;
    font-size: 45px;
    color: rgb(0, 78, 30);
}

.war {
    color: rgb(201, 164, 0);
}

.btnn {
    width: 80px;
    margin-top: 20px;
    padding: 10px;
    background-color: #ca9400;
    color: white;
    border: none;
    border-radius: 20px;
    transition-duration: 1s;
}

.btnn:hover {
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #f7f7f7;
    transition-duration: 1.5s;
}

.b {
    display: inline-block;
    width: 100px;
    margin-bottom: 12px;
}

.tbl {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
    overflow-y: scroll;
}

.tbl tr {
    height: 40px;
}

.tbl tr th {
    background-color: rgba(178, 255, 173, 0.596);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
    text-align: center;
}

.tbl tr td {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.tt {
    overflow-x: auto;
}

.ad {
    background-color: rgba(255, 222, 173, 0.541);
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    box-shadow: rgba(255, 222, 173, 0.767) 2px 2px 20px 2px;
}

.ph {
    color: rgb(117, 255, 191);
    margin-top: 10px;
    font-weight: bolder;
}

.pp {
    color: black;
    font-weight: bolder;
}

.aab {
    width: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.vr {
    width: 100%;
    height: auto;
}

@media (max-width:600px) {
    .vv {
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.822);
        border-style: solid;
        border-color: rgb(131, 85, 0);
        border-radius: 5px;
        box-shadow: rgb(173, 104, 0) 2px 2px 20px 2px;
        text-align: center;
        margin-top: 20px;
        margin: 0 auto;
    }
}

@media (min-width:600px) {
    .vv {
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.822);
        border-style: solid;
        border-color: rgb(131, 85, 0);
        border-radius: 5px;
        box-shadow: rgb(173, 104, 0) 2px 2px 20px 2px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .reimg {
        width: 60px;
        margin-left: 200px;
        margin-bottom: 5px;
    }
}

.vv:hover {
    background-color: rgba(255, 235, 204, 0.753);
    color: rgb(0, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
    font-weight: bolder;
    box-shadow: rgb(131, 85, 0) 2px 2px 10px 2px;
    cursor: pointer;
}

.hhhv {
    display: inline-block;
}

.atc {
    background-color: rgb(143, 117, 0);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    width: 170px;
}

.bn {
    background-color: rgb(0, 138, 73);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    width: 170px;
}

.atc:hover {
    background-color: rgb(255, 230, 118);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    width: 170px;
}

.bn:hover {
    background-color: rgb(0, 214, 114);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    width: 170px;
}

.bnnn {
    background-color: rgb(138, 0, 0);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    width: 170px;
}

.bnnn:hover {
    background-color: rgb(255, 149, 149);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    width: 170px;
}

.bbbd {
    width: 100%;
    height: auto;
}

.vvv {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.822);
    border-style: solid;
    border-color: rgb(131, 85, 0);
    border-radius: 15px;
    box-shadow: rgb(173, 104, 0) 2px 2px 20px 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.vvv:hover {
    background-color: rgba(223, 157, 60, 0.753);
    color: rgb(0, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
    font-weight: bolder;
    color: white;
    border-color: rgb(255, 254, 252);
    box-shadow: rgb(255, 254, 252) 2px 2px 20px 2px;
    cursor: pointer;
}

.vfb {
    margin-top: 20px;
    background-color: rgba(61, 77, 0, 0.856);
    border-radius: 7px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    box-shadow: rgb(179, 179, 179) 2px 2px 10px 2px;
}

.vfb:hover {
    background-color: rgba(99, 73, 0, 0.829);
    cursor: pointer;
}

.vfh {
    color: cornsilk;
    font-weight: bolder;
    font-size: 30px;
}

.vfm {
    color: rgba(255, 236, 159, 0.856);
    font-weight: bolder;
    font-size: 15px;
}

.vft {
    color: rgb(255, 151, 151);
}

.bqop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
}

.iqop {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.hde {
    border-radius: 380px;
}

.dedd {
    text-align: center;
}

.chd {
    height: auto;
    background-color: rgba(255, 248, 220, 0.849);
    border-radius: 5px;
}

.cht {
    height: 40px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    border-radius: 4px;
}

.chb {
    margin-bottom: 23px;
    width: 150px;
}

.chtd {
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 0 auto;
    margin-top: 20px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    border-width: 2px;
    overflow-x: scroll;
}

.chth {
    color: rgb(0, 0, 163);
    font-weight: bolder;
}

.chch {
    width: auto;
    height: 30px;
    background-color: rgb(227, 227, 255);
    border: none;
    font-weight: bold;
}

.fow {
    font-weight: bold;
}

.vivv {
    width: 100%;
    height: auto;
}

.vchch {
    width: auto;
    height: auto;
    background-color: rgba(121, 170, 158, 0.911);
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.vchch:hover {
    background-color: rgba(65, 88, 83, 0.911);
    border-radius: 10px;
    color: cornsilk;
}

.rph {
    color: rgb(0, 121, 190);
    font-weight: bolder;
}

.reimg {
    width: 60px;
}

.deedd {
    background-color: rgba(255, 235, 205, 0.856);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}